@import "tailwindcss";
/* Remove o botão nativo de "mostrar senha" no Chrome, Edge, Safari */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-calendar-picker-indicator,
input[type="password"]::-webkit-password-toggle-button {
  display: none !important;
  appearance: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}
